<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido {{ username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding inicio-content">
  <swiper-container
    pagination="true"
    navigation="true"
    autoplay="true"
    loop="true"
    class="carrusel"
  >
    <swiper-slide *ngFor="let slide of slides">
      <img [src]="slide.img" [alt]="slide.title" />
    </swiper-slide>
  </swiper-container>

  <div class="buttons">
    <ion-button expand="full" (click)="goTo('/otra-pagina')">Ir a otra página</ion-button>
    <ion-button expand="full" (click)="goTo('/mas-paginas')">Más páginas</ion-button>
  </div>


  
  <div class="bienvenida">
    <h2>Bienvenido</h2>
    <div class="usuario">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <span>NOMBRE USUARIO</span>
    </div>
  </div>

  <div class="opciones">
    <div class="opcion personalizada">
      <ion-icon name="barbell-outline"></ion-icon>
      <span>Entrenamiento Personalizado</span>
    </div>

    <div class="opcion general">
      <ion-icon name="accessibility-outline"></ion-icon>
      <span>Entrenamiento General</span>
    </div>

    <div class="opcion alimentacion">
      <ion-icon name="restaurant-outline"></ion-icon>
      <span>Plan de alimentación</span>
    </div>
  </div>

  <div class="botones">
    <ion-button class="btn ver-mas" expand="block">Ver más</ion-button>
    <ion-button class="btn nueva-orden" expand="block">Nueva órden</ion-button>
  </div>
</ion-content>







