<ion-content class="login-page" fullscreen>
  <div class="mockup">
    <div class="mockup-inner">
      <div class="content-scroll">
      <div class="brand">
        <img src="/assets/icon/favicon.png" alt="logo" class="logo" />
        <div class="brand-text">
          <span class="line1">SPORT</span>
          <span class="line2">PLANNER</span>
        </div>
      </div>

      <h2 class="welcome">Bienvenido</h2>

  <form class="form">
        <ion-item class="input-item" lines="none">
          <ion-input placeholder="Email" type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item class="input-item" lines="none">
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-button class="btn-primary" expand="block" (click)="login()">Iniciar sesión</ion-button>
      </form>

      <a class="forgot" (click)="goToReset()">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</ion-content>
