<ion-app>



  <!-- 🔹 Contenido principal -->
  <div class="ion-page" id="main-content">

    <ion-router-outlet></ion-router-outlet>

    <!-- 🔹 Barra de navegación inferior -->
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="light">

        <ion-tab-button tab="tienda" [routerLink]="['/tienda']">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="entrenamientos" [routerLink]="['/entrenamientos']">
          <ion-icon name="barbell-outline"></ion-icon>
          <ion-label>Entrenamientos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="inicio" [routerLink]="['/inicio']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="progreso" [routerLink]="['/progreso']">
          <ion-icon name="trending-up-outline"></ion-icon>
          <ion-label>Progreso</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="perfil" [routerLink]="['/perfil']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </div>

</ion-app>
