<ion-header>
  <ion-toolbar>
    <ion-title>Entrenamiento Personalizado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    

    <div class="boton">
      <span>Calendario</span>
      <ion-icon name="calendar-outline"></ion-icon>
    </div>

    <div class="boton principal">
      <span>Iniciar un plan de entrenamiento</span>
      <ion-icon name="plan-outline"></ion-icon>
    </div>
  </ion-card>

  <div class="  mis-entrenamientos">
    <h2>Mis entrenamientos</h2>
    <div class="lista">
      <div class="item"> 1-</div>
      <div class="item"> 2-</div>
      <div class="item"> 3-</div>
      <div class="item"> 4-</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-icon name="home-outline"></ion-icon>
  <ion-icon name="person-outline"></ion-icon>
  <ion-icon name="notifications-outline"></ion-icon>
</ion-footer>